div.middleTable{
  position: absolute;
  padding:10px;
  margin:10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 750px;
  border: 1px solid purple;
  border-radius: 5px 50px;
}
#question1,#question2,#question3,#question4,#question5,#answer1,#answer2,#answer3,#answer4,#answer5,#answer6,#answer7,
#answer8,#answer9,#answer10,#answer11,#answer12,#answer13,#answer14,
#answer15 {
  padding: 5px;
  background-color: #e5eecc;
  border: solid 1px #c3c3c3;
}

#answer1,#answer2,#answer3,#answer4,#answer5,#answer6,#answer7,
#answer8,#answer9,#answer10,#answer11,#answer12,#answer13,#answer14,#answer15 {
  display: none;
}
#header{
  font-family: fantasy;
  text-align: center;
  font-size: 24px;
  color: purple;
}
.submit{
  text-align: center;
  position: absolute;
  left: 45%;
  bottom: 5px;
  font-size: 20px;
  border: 2px solid black;
  font-weight: bold;
  border-radius: 12px;

}
.submit:hover{
  color:white;
  background-color: black;
  cursor: pointer;
}
body{
  background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.7)),url("background.jpg");
  cursor: pointer;
}
